.header {
  /* Box model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 135px 0;

  /* Typography */
  color: #446381;
}

.link {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  color: #446381;
}

.link.active {
  color: #4499d9;
  text-decoration: underline;
}
