/* .formWrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid #00afd7;
  border-radius: 20px;
  box-shadow: 0 4px 10px #00000040;
  background-color: #f6f6f6;

  padding: 20px 15px;
}

.thumb {
  position: relative;
  width: 100%;
} */

.input {
  background-color: transparent;
  border: 2px solid #7367be;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
}

/* label {
  position: absolute;
  top: 10px;
  left: 35px;
  transition: top 0.2s, font-size 0.2s;
  pointer-events: none;
  color: rgb(71, 71, 71);
}

input:focus + label,
.input:not(:placeholder-shown) + label {
  top: -7px;
  font-size: 12px;
  background-color: transparent;
}

input:focus {
  border-color: #1976d2;
  background-color: transparent;
} */
