/* Common - links */

.link {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  color: #446381;
}

.link.active {
  color: #4499d9;
  text-decoration: underline;
}

/* Section & container */
.section {
  background-image: url(../../assets/img/home-bg-desktop.png);
  padding-top: 40px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
