/* Common - links */

.link {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  color: #446381;
}

.link.active {
  color: #4499d9;
  text-decoration: underline;
}

/* Common - forms */

.error {
  color: red;
  font-size: 12px;
}

/* Common - btns */
.btn {
  /* Box model */
  padding: 13px 31px;
  /* Typography */
  color: #fff;
  text-align: center;
  line-height: 1.33;
  /* Visual */
  border-radius: 25px;
  border: 1px solid #000;
  background: linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%);
}
