.icon {
  margin-right: 8px;
  margin-left: 8px;
  color: white;
  width: 20px;
  height: 20px;
}

.contactIcon {
  color: #446381;
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

.btn {
  /* Box model */
  padding: 4px;
  /* Visual */
  border-radius: 25px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
  background: linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%);
  /* Transition */
  transition: transform 0.3s ease;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-color: #fff;
  transform: scale(1.1);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: #446381;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
}
