@import url(./fonts.css);

body {
  /* Box model */

  /* Typography */
  color: #826f8c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.61;

  /* Visual */
  background-color: #fbe9de;
}

a {
  text-decoration: inherit;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
