.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.btn {
  /* Box model */
  padding: 13px 19px;
  margin-left: 16px;
  /* Typography */
  color: #fff;
  text-align: center;
  line-height: 1.33;
  /* Visual */
  border-radius: 25px;
  border: 1px solid #000;
  background: linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%);
}
